/* Define algunas variables usadas en multiples lugares */
@background: #000; /*Barra lateral de los numeros*/
@foreground: #1b7900; /*#*/

/* Estilo de Codigo */
.CodeMirror, .CodeMirror-scroll
{
    background-color: #0b0b0b; /*fondo del brackets*/
    color: #fff; /*color de corchetes y texto en blanco html*/
}
.CodeMirror-focused .CodeMirror-activeline-background

{
    background:  #ff00b1; /*enfoque de la linea que estamos trabajando*/
}
.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background

{
    box-shadow: inset 15px 0 0 0 #00ffce;
}

.CodeMirror-focused .CodeMirror-activeline
{
    .CodeMirror-gutter-elt
    {
        background: rgba(0, 0, 0, 0.2);
        color: #40ff27; /* color del numero de linea*/
    }
    .inline-widget .CodeMirror-gutter-elt
    {
        color: #8b8b8b;    /*Todavia no se xD*/
    }
}

.cm-atom, .cm-string, .cm-string-2, .cm-hr
{color: #56a0ac;} /*Importante Color de las variables y textos variables*/
.cm-number, .cm-attribute, .cm-plus
{color: #1a6577;} /*Importante las id clases de html5*/
.cm-def, .cm-property
{color: rgb(200, 193, 183)}/*Importante atributos del css*/
.cm-variable, .cm-variable-2, .cm-variable-3, .cm-operator, .cm-meta, .cm-bracket
{color: @foreground;}
.cm-comment
{color: #7f8d8e;} /*Comentarios Definido*/
.cm-error, .cm-minus
{color: #97f0ed;} /* Importante otros atributos del css*/
.cm-header
{color: #ff00d8;} /*#*/
.cm-link
{color: #b77fdb; text-decoration: none;}
.cm-rangeinfo
{color: #6c71c4;}
.cm-keyword, .cm-qualifier, .cm-builtin, .cm-tag, .cm-quote
{color: #008b8b;} /*Importante color de las etiquetas html, clases css*/

/* Extra CSS */

.CodeMirror-searching
{
    background-color: #d3cd69;
    &.searching-current-match
    {
        background-color: #5ff644;
    }
}
.CodeMirror-cursor
{
    border-left: 1.6px solid #69ff3e !important; /*Cursor Definido*/
}
.CodeMirror-gutters
{
    background-color: @background;
    border-right: none;
}

.CodeMirror-linenumber
{
    color: #3a4944;  /*Color de la linea de los numeros*/
}
.CodeMirror .CodeMirror-selected
{
    background: #333f48;
}
.CodeMirror-focused .CodeMirror-selected
{
    background: #162623;
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag
{
    /* Garantizar la visibilidad contra fondo gris editor en línea */
    background-color: #162623; /*Cierre de corchetes y seleccion completa de una seccion*/
    color: #00d319 !important; /*Letras dentro del la seccion sombreada*/
}

.CodeMirror-overwrite .CodeMirror-cursor
{
    border-left: none !important;
    border-bottom: 1px solid #fff;
}

.CodeMirror
{
    .CodeMirror
    {
        background: transparent;
    }

    .CodeMirror .CodeMirror-gutters
    {
        background: transparent;
        border-right: none;
    }

    .CodeMirror .CodeMirror-activeline-background
    {
        background: transparent;
    }

    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt
    {
        background: transparent;
        color: #767676;
    }

    .CodeMirror-focused .CodeMirror-activeline-background
    {
        background: #2f2f2f;
    }

    .CodeMirror-focused .CodeMirror-activeline
    {
        .CodeMirror-gutter-elt
        {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }
}

/* Non-editor styling */

.image-view,
.not-editor
{
    background-color: @background;
}

.view-pane .image-view
{
    color: @foreground;
}
