/* Define algunas variables usadas en multiples lugares */
@background: #000;
@foreground: #333;

/* Estilo de Codigo */

.CodeMirror, .CodeMirror-scroll {
    background-color: #000; /*fondo del brackets*/
    color: #fff; /*color de corchetes y texto en blanco html*/
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background:  #162623; /*enfoque de la linea que estamos trabajando*/
}

.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
    box-shadow: inset 15px 0 0 0 #00ffce; /**/
}

.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-gutter-elt {
        background: rgba(0, 0, 0, 0.2);
        color: #40ff27; /* color del numero de linea*/
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: #e03eb4;    /*Todavia no se xD*/
    }
}

.cm-atom, .cm-string, .cm-string-2, .cm-hr {color: #56a0ac;} /*Importante Color de las variables y textos variables*/
.cm-number, .cm-attribute, .cm-plus {color: #123e49;} /*Importante las id clases de html5*/
.cm-def, .cm-property {color: rgb(200, 193, 183)}/*Importante atributos del css*/
.cm-variable, .cm-variable-2, .cm-variable-3, .cm-operator, .cm-meta, .cm-bracket {color: @foreground;}
.cm-comment {color: #3a4944;} /*Aqui para un comentario imagino xD*/
.cm-error, .cm-minus {color: #97f0ed;} /* Importante otros atributos del css*/
.cm-header {color: #d85896;} /*Color rosita ni ideas*/
.cm-link {color: #b77fdb; text-decoration: none;}
.cm-rangeinfo {color: #6c71c4;}
.cm-keyword, .cm-qualifier, .cm-builtin, .cm-tag, .cm-quote {color: #123e49;} /*Importante color de las etiquetas html, clases css*/

/* Extra CSS */

.CodeMirror-searching {
    background-color: #d3cd69;
    &.searching-current-match {
        background-color: #f6a644;
    }
}


.CodeMirror-cursor {
    border-left: 1.6px solid #69ff3e !important; /*Color del cursor*/
}

.CodeMirror-gutters {
    background-color: @background;
    border-right: none;
}

.CodeMirror-linenumber {
    color: #3a4944;  /*Color de la linea de los numeros*/
}

.CodeMirror .CodeMirror-selected {
    background: #333f48;
}
.CodeMirror-focused .CodeMirror-selected {
    background: #162623;
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    /* Garantizar la visibilidad contra fondo gris editor en línea */
    background-color: #171d1b; /*Cierre de corchetes y seleccion completa de una seccion*/
    color: @foreground !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 1px solid #fff;
}

/*
    CodeMirror's use of descendant selectors for certain styling causes problems when editors are
    nested because, for items in the inner editor, the left-hand clause in the selector will now
    match either the actual containing CodeMirror instance *OR* the outer "host" CodeMirror instance.

    TODO (issue #324): We'll still have problems if editors can be nested more than one level deep,
    or if any other descendant-selector-driven CM styles can differ between inner & outer editors
    (potential problem areas include line wrap and coloring theme: basically, anything in codemirror.css
    that uses a descandant selector where the CSS class name to the left of the space is something
    other than a vanilla .CodeMirror)
 */
.CodeMirror {
    .CodeMirror {
        background: transparent;
    }

    .CodeMirror .CodeMirror-gutters {
        background: transparent;
        border-right: none;
    }

    .CodeMirror .CodeMirror-activeline-background {
        background: transparent;
    }

    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
        background: transparent;
        color: #767676;
    }

    .CodeMirror-focused .CodeMirror-activeline-background {
        background: #2f2f2f;
    }

    .CodeMirror-focused .CodeMirror-activeline {
        .CodeMirror-gutter-elt {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }
}

/* Non-editor styling */

.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @foreground;
}
